# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem
*.log

# env
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# test
coverage/

# editor
.idea/
.vscode/
*.swp
